@use '../base/media' as *;
.benefits {
    &__content {
        max-width: 1180px;
        margin: 0 auto var(--content-margin);
        display: flex;
        align-items: stretch;
        gap: 20px;
        justify-content: space-between;

        @include media('mobile') {
            flex-direction: column;
        }

        &-col {
            &.content--left {
                text-align: right;
                @include media('mobile') {
                    text-align: center;
                }

                .benefits__content-card {
                    align-items: flex-end;
                    @include media('mobile') {
                        align-items: center;
                    }
                }
            }
            &.content--right {
                text-align: left;
                @include media('mobile') {
                    text-align: center;
                }

                .benefits__content-card {
                    align-items: flex-start;
                    @include media('mobile') {
                        align-items: center;
                    }
                }
            }

            &.content--thumbnail {
                max-width: 400px;
                border-radius: 16px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                @include media('mobile') {
                    max-width: 100%;
                    height: 350px;
                }
            }
        }

        &-cards {
            display: flex;
            flex-direction: column;
            gap: 24px;
            max-width: 294px;
            @include media('mobile') {
                max-width: 100%;
                gap: 16px;
            }
        }

        &-card {
            display: flex;
            flex-direction: column;
            gap: 16px;
            @include media('mobile') {
                align-items: center;
                text-align: center;
                gap: 5px;
            }

            img {
                display: flex;
                flex-shrink: 0;
                width: 40px;
                height: 40px;
                @include media('mobile') {
                    width: 24px;
                    height: 24px;
                }
            }

            h3,
            p {
                margin: 0;
            }

            h3 {
                font: 700 32px / 120% var(--ff-base);
                text-transform: capitalize;
                @include media('tablet') {
                    font-size: 28px;
                }
                @include media('mobile') {
                    font-size: 24px;
                }
            }

            p {
                font: 300 18px / 150% var(--ff-base);
                color: var(--text-grey);
                @include media('tablet') {
                    font-size: 16px;
                }
                @include media('mobile') {
                    font-size: 14px;
                }
            }
        }
    }
}
