@use '../base/media' as *;
.menu {
    &__content {
        margin-bottom: var(--content-margin);

        &-cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;
            @include media('tablet') {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        &-card {
            border-radius: 16px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            background: var(--bg-grey);

            .row {
                &:last-child {
                    margin-top: auto;
                }
            }

            .thumbnail {
                height: 352px;
                margin-bottom: 48px;
                @include media('mobile') {
                    margin-bottom: 24px;
                    height: 350px;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .wrapper {
                padding-inline: 24px;
                display: flex;
                flex-direction: column;
                gap: 16px;

                @include media('mobile') {
                    gap: 8px;
                    padding-inline: 16px;
                }

                &:last-child {
                    margin-bottom: 48px;
                    @include media('mobile') {
                        margin-bottom: 24px;
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 16px;
                }

                &__ico {
                    width: 40px;
                    height: 40px;
                    display: inline-flex;
                    flex-shrink: 0;

                    @include media('mobile') {
                        width: 20px;
                        height: 20px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                &__title {
                    font: 700 32px / 120% var(--ff-base);
                    text-transform: capitalize;
                    @include media('mobile') {
                        font-size: 24px;
                    }
                }

                &__description {
                    font: 300 18px / 150% var(--ff-base);
                    color: var(--text-grey);
                    @include media('mobile') {
                        font-size: 16px;
                    }
                }
            }

            .info {
                padding: 0px 24px 40px;
                display: flex;
                flex-direction: column;
                gap: 16px;

                @include media('mobile') {
                    padding: 0px 16px 20px;
                    gap: 8px;
                }

                &__item {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    justify-content: space-between;
                    padding-inline: 16px;

                    @include media('mobile') {
                        padding-inline: 0;
                    }

                    &:first-child {
                        padding-top: 48px;
                        border-top: 1px solid #89a3ab40;
                        @include media('mobile') {
                            padding-top: 24px;
                        }
                    }
                }

                &__title {
                    font: 300 18px / 150% var(--ff-base);
                    @include media('mobile') {
                        font-size: 16px;
                    }
                }

                &__val {
                    font: 700 24px / 100% var(--ff-base);
                    color: var(--accent-color);

                    @include media('mobile') {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
