@use '../base/media' as *;
.pros {
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        position: relative;

        @include media('tablet') {
            flex-direction: column-reverse;
        }
    }

    &__info {
        max-width: 612px;
        @include media('tablet') {
            max-width: 100%;
        }

        p {
            &:first-child {
                font: 700 12px / 130% var(--ff-base);
                letter-spacing: 5%;
                margin-bottom: 8px;
                text-transform: uppercase;
                color: var(--accent-color);
            }

            &:last-of-type {
                font: 300 18px / 150% var(--ff-base);
                margin-bottom: 56px;
                color: var(--text-grey);

                @include media('tablet') {
                    margin-bottom: 28px;
                }

                @include media('mobile') {
                    margin-bottom: 14px;
                    font-size: 16px;
                }
            }
        }

        h2 {
            font: 700 72px/ 100% var(--ff-base);
            text-transform: capitalize;
            margin: 0 0 24px;

            @include media('tablet') {
                font-size: 48px;
            }

            @include media('mobile') {
                font-size: 32px;
                margin: 0 0 15px;
            }
        }
    }

    &__link {
        margin: 0 0 64px;

        @include media('tablet') {
            margin-bottom: 32px;
        }
    }

    &__stats {
        display: flex;
        align-items: flex-end;
        gap: 40px;
        @include media('mobile') {
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }

        &-clients {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 8px;
        }

        &-images {
            display: flex;

            img {
                width: 56px;
                height: 56px;
                border-radius: 50%;
                border: 1px solid #f2f2f2;

                &:first-child {
                    z-index: -1;
                    transform: translateX(12px);
                }
                &:last-child {
                    z-index: 3;
                    transform: translateX(-12px);
                }
            }
        }
        &-info {
            font: 300 18px / 100% var(--ff-base);
        }

        &-rating {
            display: flex;
            flex-direction: column;
            gap: 4px;

            @include media('mobile') {
                flex-direction: row;
                align-items: center;
                gap: 10px;
            }
        }

        &-val {
            font: 400 24px / 130% var(--ff-base);
            font-style: italic;
        }

        &-stars {
            display: flex;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }

    .img-abs {
        position: absolute;
        top: 0;
        right: 27px;
        z-index: -1;
        width: 280px;
        height: 280px;

        @include media('tablet') {
            width: 140px;
            height: 140px;
        }
        @include media('mobile') {
            width: 70px;
            height: 70px;
            right: 0;
        }
    }

    &__image {
        padding-block: 71px 126px;
        max-width: 565px;
        width: 100%;
        img {
            width: 100%;
        }
        @include media('tablet') {
            padding-block: 0;
            max-width: 60%;
            order: 1;
        }
        @include media('mobile') {
            max-width: 100%;
        }
    }

    &__about {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 40px 72px;
        max-width: 567px;
        width: 100%;
        border-radius: 16px;
        background: #d4d4d41a;
        backdrop-filter: blur(35px);
        box-shadow: 0px 4px 18.6px 0px #1c1c1c12;

        @include media('tablet') {
            position: relative;
        }

        @include media('mobile') {
            padding: 20px 10px;
            max-width: 100%;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
        }

        &-box {
            width: 120px;
            @include media('mobile') {
                flex: 1;
                text-align: center;
                padding-bottom: 15px;
                width: 100%;
                border-bottom: 0.5px solid #505672;
            }

            &:first-child {
                border-right: 0.5px solid #505672;

                @include media('mobile') {
                    border-right: none;
                }
            }

            &:nth-child(2) {
                border-right: 0.5px solid #505672;
                @include media('mobile') {
                    border-right: none;
                }
            }
        }

        &-title {
            font: 300 18px / 150% var(--ff-base);
            margin-bottom: 4px;
        }

        &-val {
            font: 700 48px / 120% var(--ff-base);
            text-transform: uppercase;
            color: var(--primary-color);
        }
    }
}
