:root {
    --ff-base: 'Effra VF Trial', sans-serif;
    --text-color_base: #141933;
    --bgc_base: #f1f1f1;

    --accent-color: #f37b70;
    --text-grey: #505672;
    --bg-grey: #e5e5e5;

    --link-text-hover: #f1f1f1;
    --link-bg-hover: #f37b70;

    --section-margin: 256px;
    --content-margin: 128px;
}
