@use '../base/mixins' as *;
@use '../base/var' as *;
@use '../base/media' as *;

.header {
    padding-block: 48px;
    @include media('tablet') {
        padding-block: 25px;
    }

    @include media('mobile') {
        padding-block: 18px;
        position: fixed;
        z-index: 50;
        width: 100%;
        transition-property: padding, box-shadow, background-color;
        transition-duration: 0.35s;

        &.scroll {
            padding-block: 12px;
            box-shadow: 0 0 8rem #185a684a;
            background-color: #fff;
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    &__burger {
        display: none;
        width: 36px;
        height: 36px;
        color: inherit;
        @include media('mobile') {
            display: flex;
        }
    }

    &__logo {
        max-width: 145px;
        display: flex;
        flex-shrink: 0;

        @include media('mobile') {
            max-width: 76px;
        }

        img {
            width: 100%;
        }
    }

    &__nav {
        max-width: 419px;
        width: 100%;
    }

    &__list {
        justify-content: space-between;
        @include flexCenter(10px);

        &-link {
            font: 400 18px / 130% var(--ff-base);
            @include transitions(0.2s);
            @include hover {
                color: var(--accent-color);
            }
        }

        @include media('tablet') {
            justify-content: center;
            @include flexCenter(20px);
        }

        @include media('mobile') {
            display: none;
        }
    }

    &__link {
        font: 400 18px / 130% var(--ff-base);
        border-radius: 16px;
        padding: 14.5px 38.5px;
        border: 1.5px solid var(--accent-color);
        color: var(--accent-color);
        @include transitions(0.2s);
        @include hover {
            color: var(--link-text-hover);
            background: var(--link-bg-hover);
        }
        @include media('tablet') {
            width: 100%;
            max-width: 200px;
            padding: 14.5px;
            justify-content: center;
        }

        @include media('mobile') {
            display: none;
        }
    }
}
